@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mb-3 mt-3" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center">No-Tell Motel</h1>
        <h4 id="subTitle" class="text-center">Night City</h4>
    </section>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/imgs/sfondo1.jpg" class="d-block w-100" alt="" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo2.jpg" class="d-block w-100" alt="" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo3.jpg" class="d-block w-100" alt="" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo4.jpg" class="d-block w-100" alt="" style="max-height: 60vh; object-fit: cover;" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex justify-content-center flex-column mt-3 conteiner">
        <h2 class="text-center mt-3 mb-3">Servizi Offerti</h2>
        <p style="padding: 0 4em 0 4em">
            Il No-Tell Motel è un luogo enigmatico, avvolto nel mistero e nella segretezza. Un'oasi di pace e tranquillità per chi desidera fuggire dalla routine quotidiana e immergersi in un'atmosfera unica e suggestiva.
        </p>
        <p style="padding: 0 4em 0 4em">
            La Direzione
        </p>
    </div>
</main>